.container-fluid {
  margin: 0;
  padding: 80px 0 160px 0;
  background-color: #2b6777;
  color: #ffffff;
}

.container {
  margin: 0% 10%;
  text-align: center;
}

.heading{
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

.description{
  margin: 50px 120px 0 120px;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.7;
}

.card{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #52abc494;
  box-shadow: 0px 0px 6px #52abc494;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
  border: 1px solid #52abc494;
}

@media (max-width: 844px){
  .container-fluid {
    margin: 0;
    padding: 30px 0 70px 0;
  }

  .heading{
    font-size: 25px;
  }
  
  .description{
    margin: 25px 0 0 0;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }

  .card{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 20px 10px;
  }
}

